@using Microsoft.AspNetCore.Components.Routing

<nav>
    <div class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            Home
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="feeds">
            Feeds
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="settings">
            Settings
        </NavLink>
    </div>
</nav>

@code {
    
} 