@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components.Web
@using netRSS.Components.Layout
@using netRSS.Components.Pages

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="typeof(MainLayout)">
            <p role="alert">Welp, you fucked up now, didn't you? Good luck figuring out what went wrong!</p>
        </LayoutView>
    </NotFound>
</Router>

<script src="_framework/blazor.web.js"></script>
<script src="js/modal.js"></script> 